
html {
  background-color: #222;
  color: white;
}

body {
  margin: unset;
}

h2, h3, h4 {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  color: white;
  margin: 0;
  padding: unset;
  margin: unset;
}

.github {
  background-image: url('/assets/github.png');
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-size: contain;
}