html {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: unset;
  position: relative;
  font-size: 18px !important;
}

h2,
h3,
h4 {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
@media screen and (max-width: 400px) {
  body {
    font-size: 14px !important;
  }
}
