html {
  background-color: #333;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: unset;
  position: relative;
}

h2,
h3,
h4 {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

p {
  font-weight: normal;
  font-stretch: normal;
  color: white;
  margin: 0;
  padding: unset;
  margin: unset;
}
iframe {
  width: 100%;
  border-width: unset;
  border-style: unset;
  height: 300px;
}
a {
  color: black;
}
@media screen and (max-width: 400px) {
  iframe {
    height: 180px;
  }
  html {
    font-size: 14px;
  }
}
